Repository hmcts/pre-portal, pull requests merged in 2024-02, with the labels that each got.

#40 Add a Redis instance and store access key in KV
  charts/pre-portal/Chart.yaml
  charts/pre-portal/values.dev.template.yaml
  charts/pre-portal/values.yaml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
  src/main/modules/properties-volume/index.ts
Labels: ns:pre, prd:pre, add-or-update, rel:pre-portal-pr-40

#80 Adds pre-api keys to portal config via KV
  charts/pre-portal/Chart.yaml
  charts/pre-portal/values.yaml
  config/default.json
  src/main/modules/properties-volume/index.ts
  yarn-audit-known-issues
Labels: ns:pre, prd:pre, rel:pre-portal-pr-80

#77 feat: create api wrapper
  src/main/app.ts
  src/main/modules/nunjucks/index.ts
  src/main/routes/browse.ts
  src/main/routes/watch.ts
  src/main/services/pre-api/pre-client.ts
  src/main/services/pre-api/types.ts
  src/main/views/browse.njk
  src/main/views/error.njk
  src/main/views/watch.njk
  src/test/mock-api.ts
  src/test/routes/browse.ts
  src/test/routes/watch.ts
  src/test/unit/pre-api-client.ts
  src/test/unit/sample.ts
Labels: ns:pre, prd:pre, rel:pre-portal-pr-77
