Repository hmcts/pre-portal, pull requests merged in 2024-05, with the labels that each got.

#321 adding crossbrowser test config and configuring nightly pipeline
  .pnp.cjs
  Jenkinsfile_nightly
  package.json
  src/test/a11y/a11y.ts
  src/test/crossbrowser/saucelabs.conf.js
  src/test/crossbrowser/saucelabs.conf.ts
  src/test/crossbrowser/supportedBrowsers.ts
  src/test/functional/features/browse.feature
  src/test/functional/features/login-error.feature
  tsconfig.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-portal-pr-321

#320 S28 2758/use stg b2c
  .github/workflows/b2c-callback-urls.yaml
  charts/pre-portal/values.dev.template.yaml
  src/main/modules/properties-volume/index.ts
  src/test/a11y/a11y.ts
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-portal-pr-320

#324 Use stg B2C in stg env
  charts/pre-portal/values.stg.template.yaml
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-portal-pr-324
