Repository hmcts/pre-portal, pull requests merged in 2024-11, with the labels that each got.

#554 S28-3452 Fix MkPlayer in Safari
  src/main/modules/helmet/index.ts
  src/main/views/watch-mk.njk
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-portal-pr-554

#573 Revert "include js when env var set for dynatrace jstag"
  charts/pre-portal/Chart.yaml
  src/main/modules/properties-volume/index.ts
  src/main/views/template.njk
Labels: ns:pre, prd:pre, rel:pre-portal-pr-573

#540 S28 3432: Browse Page Status Column
  .yarn/cache/@parcel-watcher-darwin-x64-npm-2.4.1-e905ba5776-8.zip
  .yarn/cache/@parcel-watcher-linux-x64-glibc-npm-2.4.1-e13cc4f7d9-8.zip
  .yarn/cache/fsevents-patch-21ad2b1333-8.zip
  .yarn/cache/fsevents-patch-2882183fbf-8.zip
  charts/pre-portal/Chart.yaml
  charts/pre-portal/values.dev.template.yaml
  charts/pre-portal/values.stg.template.yaml
  charts/pre-portal/values.yaml
  config/default.json
  local.env
  src/main/modules/properties-volume/index.ts
  src/main/routes/browse.ts
  src/main/services/pre-api/types.ts
  src/main/views/browse.njk
  src/test/mock-api.ts
  src/test/unit/routes/browse.test.ts
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-portal-pr-540

#593 Update diagram with MK changes
  README.md
Labels: ns:pre, prd:pre, rel:pre-portal-pr-593

#595 Add toggle for enabling RUM per env
  charts/pre-portal/values.dev.template.yaml
  src/main/modules/properties-volume/index.ts
  src/main/views/template.njk
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-portal-pr-595

#583 S28-3412 Action table heading
  src/main/assets/scss/main.scss
  src/main/views/browse.njk
Labels: ns:pre, prd:pre, enable_keep_helm, rel:pre-portal-pr-583
